<!DOCTYPE html>
{% extends "staff/base.html" %}
{% load extras %}
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% block head_block %}
    <title></title>
    <link rel="stylesheet" href="{% static 'css/staff/check.css' %}">
    {% endblock %}
  </head>
  <body>
    {% block body_block %}
    <div class="jumbotron outer">
      <h1>Welcome,</h1>
      <h2>{{teacher.full_name}}</h2>

      <div class="container text-center outer2">
        <form class="" action="{% url 'staff:success' %}" method="post">
          {% csrf_token %}
          <button class="{{button_style}}" type="submit" name="button" value = {{teacher.full_name|space_to_us}}>
            {{button_word}}
          </button>
        </form>
        <a class="btn btn-secondary btn_back"href="{% url 'staff:index' %}">Back</a>
      </div>

    </div>
    {% endblock %}
  </body>
</html>
