<!DOCTYPE html>
{% extends "staff/base.html" %}
{% load static %}
{% load extras %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% block head_block %}
    <title></title>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/grundschrift" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/staff/index.css' %}">
    {% endblock %}

  </head>
  <body>
    {% block body_block %}


    <div class="container text-center outer mt-5" id="kelvin">
      <!-- <div class="container heading_box"> -->
      <h1>Teacher page!</h1>
      <!-- </div> -->
      <br><br>
      <form action="{% url 'staff:check' %}" method="post">

        {% csrf_token %}
        <select class="teachers_dropdown drop_down custom-select" name="choice">
          {% for teacher in teachers_list %}
            <option value={{teacher.full_name|space_to_us}}>{{teacher.full_name}}</option>
          {% endfor %}
        </select>
        <!-- <br><br><br><br><br> -->
        <input class="btn btn-primary mt-5 btn_enter" type="submit" name="submit" value="Enter">
      </form>

    </div>

    <div class="container text-center">
      <a class="btn btn-secondary btn_back" href="{% url 'home' %}">Back</a>
    </div>


    {% endblock %}
  </body>
</html>
